/* General */

*{
    box-sizing: border-box;
}
body, p {
    padding: 0;
    margin: 0;
}
h3 {
    margin: 0;
    padding: 0;
}


/* Nav-Menu */

.nav-menu {
    position: absolute;
    width: 100%;
}


/* Nav */

nav {
    background: linear-gradient(140deg, #ffbf00cd 30%, #fffbb6cd 45%, #fde968ed 60%, #bf9b30ff ), linear-gradient(180deg, transparent 95%, #fde968bb);
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 20px 0px #fde968bb;
    position: fixed;
    top: 0;
    z-index: 900;
}

.nav-container {
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-bars {
    color: #a67c00;
    margin-right: 2vw;
    padding: 15px;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 0.5s;
}
.fa-bars:hover {
    background-color: #bf9b30ff;
}
.nav-title {
    font-size: 32px;
    display: flex;
    flex-direction: row;
}
.nav-link {
    margin-right: 5vw;
    font-family: "Merienda", Tahoma;
    text-decoration: none;
    color: #a67c00;
    padding: 15px;
    border-radius: 30px;
}
.nav-img {
    height: 100%;
    width: 48px;
    background-image: url("./images/background-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav-link-text {
    font-size: 20px;
    transition-property: background;
    transition-duration: 0.5s;
}
.nav-link-text:hover {
    background-color: #ffbb11;
}


/* Menú */

.menu {
    width: 0vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    z-index: 800;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,  #ffd752ff 30%, #fde968db 70%, #ff9a00ff);
    position: fixed;
    top: 12vh;
    transition: width 0.4s;
    
}
.deploy {
    width: 30vw;
    height: 88vh;
}
ul {
    list-style: none;
}
.menu-list {
    padding: 0;
    width: 70%;
    padding-left: 50px;

}
.menu-element {
    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.4s;
    font-family: "Teko";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #886e1f;
    height: 0;
}
.menu-element label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
#arrow-icon {
    transition-property: transform;
    transition-duration: 0.4s;
}
.arrow #arrow-icon {
    transform: rotate(90deg);
}
.submenu {
    margin-top: 13px;
    border-left: 2px solid #ff9a00;
}
.submenu-element {
    margin: 15px 0 0;
    padding-left: 15px;
}
.submenu-element:hover {
    border-radius: 5px 0 0 5px;
    background: linear-gradient(230deg, transparent 15%, #ffd752 40%, #ff9a00 100%);
}


/* Section 1 */

.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url("./images/background-4-min.jpg");
    background-repeat: no-repeat;
    background-position: -30vw 0;
    background-size: 130vw 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.greeting {
    width: 75%;
    height: 60vh;
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.greeting-text {
    height: 100%;
    width: 50vw;
    min-width: 400px;
    margin-left: 40vw;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(270deg, #fde968bc 50%, #fde968ee 74%, #fde968ee 95%, transparent  );
    border-radius: 0 20px 20px 0;
}
.greeting-text h2 {
    text-align: center;
    font-family: "Merienda", "Signika Negative", Tahoma, sans-serif;
    font-size: 30px;
    color: #a67c00;
}
.greeting-text p {
    margin: 0 20PX 80px;
    text-align: left;
    font-family: "Dosis", Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #a67c00;
}


/* Section 2 */

.section-2 {
    width: 100%;
    /* height: 100vh; */
    background-color: 	#ffcf4088;
    opacity: 0.7 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.section-2 .container-about {
    margin: 50vh 1vw 0 4vw;
    background-color: sienna;
    width: 40vw;
    border-radius: 15px;
    padding: 20px 15px;
}
.section-2 .container-about:last-of-type {
    margin-bottom: 40vh;
}
.container-about h3 {
    text-align: center;
    margin-bottom: 20px;
}
.container-about p {
    text-align: center;

}
.container-gallery {
    background-color: #623119;
    width: 90%;
    height: 25vh;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px;

}
.gallery-item {
    height: 90%;
    background-color: grey;
    border-radius: 15px;
    flex: 1;
    transition: flex 0.4s;
}
.gallery-item:hover {
    flex: 4;
}
.item1 {
    background-image: url("./images/background-1.png");
    background-size: cover;
    background-position: 50% 0px;
}
.item2 {
    background-image: url("./images/background-2.png");
    background-size: cover;
    background-position: 50% 0px;
}
.item3 {
    background-image: url("./images/background-3.jpg");
    background-size: cover;
    background-position: 50% 0px;
}
.item4 {
    background-image: url("./images/background-4-min.jpg");
    background-size: cover;
    background-position: 50% 0px;
}
.item5 {
    background-image: url("./images/background-5.png");
    background-size: cover;
    background-position: 50% 0px;
}
.item6 {
    background-image: url("./images/background-4.jpg");
    background-size: cover;
    background-position: 50% 0px;
}


.section-2 img {
    height: 430px;
    width: 430px;
    margin: 0 12vw 0 0;
    position: sticky;
    top: 28vh;
    margin-bottom: 10vh;
}


/* Section 3 */

footer {
    width: 100%;
    height: 88vh;
    background-image: url("./images/1-min.jpg");
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer-img {
    width: 100%;
    height: 30vh;
}
.footer-img-gradient {
    width: 100%;
    height: 100%;
    background-color: #663ea3aa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title {
    text-align: center;
    font-family: "Dosis", Times, serif;
    letter-spacing: 1px;
}
.footer-title h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #271d01;
}
.footer-title p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #271d01;
}

.footer-links {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #663ea3aa;
}
.footer-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    transition: background-color 0.2s;
}
.footer-links a:hover {
    background-color: #3d1873aa;

}
.footer-links a i {
    font-size: 2rem;
    color: #271d01;
}
.footer-links a p {
    font-size: 1.1rem;
    font-family: "Signika Negative", "Teko", Tahoma, sans-serif;
    color: #271d01;
}